# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Logs
logs
*.log

# Environment variables
.env

# macOS specific
.DS_Store
.AppleDouble

# Playwright test results and reports
/test-results
/playwright-report